@font-face
  font-family: 'Monument'
  src: url('./fonts/MonumentExtended-Ultrabold.otf') format('opentype')
@font-face
  font-family: 'RF-Dewi'
  src: url('./fonts/RF-Dewi-Expanded-Semibold.otf') format('opentype')

  
$font-gray: #C4C4C4
$font-light-gray: #B7B7B7

*
  font-family: 'RF-Dewi', sans-serif
  color: $font-light-gray


.Viewer
  background-color: #444444
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  @extend .vingette
  @extend .grain
  canvas
    width: 100%
    height: 100%
  #zone-joystick
    @media screen and ( min-width: 1025px )
      display: none
    width: 100%
    height: 40%
    position: absolute
    right: 0
    bottom: 0
.text-area
  position: absolute
  top: 0
  left: 0
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  width: 100%
  height: 100%
  @media screen and ( max-width: 1024px )
    height: 60%
    flex-direction: column
    justify-content: flex-start
  &__left-column,
  &__right-column
    // height: 100%
    width: 35%
    @media screen and ( max-width: 1200px )
      width: 70%
    @media screen and ( max-width: 800px )
      width: calc(100% - 30px)
  &__left-column
    @media screen and ( max-width: 1024px )
      order: 2
      width: 50%
    @media screen and ( max-width: 800px )
      width: 70%
    &__text
      color: $font-gray
      text-align: center
      font-size: 24px
      margin-bottom: 50vh
      @media screen and ( max-width: 1500px )
        font-size: 16px
      @media screen and ( max-width: 1024px )
        font-size: 11px
        margin-bottom: 0
      @media screen and ( max-width: 800px )
        font-size: 8px
  &__right-column
    @media screen and ( max-width: 1024px )
      order: 1
    .h1
      font-family: 'Monument', sans-serif
      font-weight: 900
      color: rgba(155, 255, 183, 0.5)
      text-align: center
      font-size: 111px
      @media screen and ( max-width: 1500px )
        font-size: 50px
      @media screen and ( max-width: 1024px )
        font-size: 60px
      @media screen and ( max-width: 800px )
        font-size: 37px
        

.buttons
  position: fixed
  bottom: 0
  left: 0
  opacity: .5
  width: 50%
  display: flex
  flex-direction: row
  justify-content: space-around
  z-index: 10000
  &__item
    cursor: pointer
    font-size: 10px
    padding: 10px
    background-color: black





.vingette
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-shadow: inset 0 0 500px black
    background: linear-gradient(90deg, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 75%)
    @media screen and ( max-width: 1024px )
      background: linear-gradient(0deg, rgba(0,0,0,0) 60%, rgba(0,0,0,0.75) 95%)

.grain
  // position: relative
  overflow: hidden
  &::after
    content: ""
    background-image: url(https://sun9-21.userapi.com/c855236/v855236973/21ef90/A4K_iEg4g6Q.jpg)
    height: 300%
    width: 300%
    opacity: 0.05
    position: absolute
    top: -50%
    left: -50%
    // z-index: 100000
    // background-size: 5%
    animation: grain 8s steps(4) infinite
    @keyframes grain
      0%, 100%
        transform: translate(0, 0)
      10%
        transform: translate(-.5%, -1.0%)
      20%
        transform: translate(-1.5%, .5%)
      30%
        transform: translate(.7%, -2.5%)
      40%
        transform: translate(-.5%, 2.5%)
      50%
        transform: translate(-1.5%, 2.0%)
      60%
        transform: translate(1.5%, 0%)
      70%
        transform: translate(0%, 1.5%)
      80%
        transform: translate(3%, 3.5%)
      90%
        transform: translate(-1.0%, 1.0%)
